:root {
  --color-bakerloo: #b26300;
  --color-central: #dc241f;
  --color-circle: #ffd329;
  --color-district: #007d32;
  --color-hammersmith-city: #f4a9be;
  --color-jubilee: #a1a5a7;
  --color-metropolitan: #9b0058;
  --color-northern: #000000;
  --color-piccadilly: #0019a8;
  --color-victoria: #0098d8;
  --color-waterloo-city: #93ceba;
}

.tubeLine-item--bakerloo {
  background-color: var(--color-bakerloo);
}

.tubeLine-item--central {
  background-color: var(--color-central);
}

.tubeLine-item--circle {
  background-color: var(--color-circle);
}

.tubeLine-item--district {
  background-color: var(--color-district);
}

.tubeLine-item--hammersmith-city {
  background-color: var(--color-hammersmith-city);
}

.tubeLine-item--jubilee {
  background-color: var(--color-jubilee);
}

.tubeLine-item--metropolitan {
  background-color: var(--color-metropolitan);
}

.tubeLine-item--northern {
  background-color: var(--color-northern);
}

.tubeLine-item--piccadilly {
  background-color: var(--color-piccadilly);
}

.tubeLine-item--victoria {
  background-color: var(--color-victoria);
}

.tubeLine-item--waterloo-city {
  background-color: var(--color-waterloo-city);
}

.tubeLine-item {
  color: white;
}

.tubeLine-item--circle,
.tubeLine-item--hammersmith-city,
.tubeLine-item--jubilee,
.tubeLine-item--waterloo-city {
  color: black;
}
